/* font  */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
  width: 100%;
}

section {
  width: 100%;
}

.inner {
  max-width: 1180px;
  margin: 0 auto;
  overflow: hidden;
}

/* header ---------------- */
header {
  height: 80px;
  text-align: center;
}

header .logo a {
  display: block;
  width: 105px;
  height: 39px;
  background: url(../img/icon_img.png) no-repeat -319px -185px;
  color: transparent;
}

header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .lnb li {
  display: inline-block;
}

header .lnb li a {
  display: block;
  height: 80px;
  padding: 0 35px;
  font-size: 17px;
  color: #333;
  line-height: 80px;
  position: relative;
}

header .lnb li a:after {
  content: '';
  width: 0;
  height: 2px;
  background: #2d5b79;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  transition: .5s;
}

header .lnb li a:hover:after {
  width: 80%;
}

header .lnb li a:hover {
  color: #2d5b79;
  font-weight: bold;
}

header .spot li {
  float: left;
}

header .spot li:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 1px;
  height: 7px;
  background-color: #ccc;
  transform: translateY(-50%);
}

header .spot li:first-child:after {
  display: none;
}

header .spot li a {
  display: block;
  height: 80px;
  padding: 0 10px;
  line-height: 80px;
}

header .spot li:last-child a {
  padding-right: 0;
}

/* visual ---------------- */
.visual {
  position: relative;
  height: 600px;
}

.visual .con>div {
  height: 470px;
}

.visual .main_img {
  background: url(../img/main_img.png)no-repeat center / cover;
  height: 600px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
}

.visual .con .slide .txt {
  position: absolute;
  left: 10%;
  top: 50%;
  width: 500px;
  transform: translateY(-50%);
  font-size: 30px;
  color: #fff;
  line-height: 1.5em;
}

.visual .con .slide p {
  padding: 19px 0 0;
  font-size: 20px;
  line-height: 1.5em;
}

/* product ---------------- */
.product a {
  display: block;
  color: #001829;
  font-size: 15px;
}

.product a:hover {
  color: #ffb400;
  font-weight: bold;
}

.product a:before {
  content: '';
  display: block;
  margin: 0 0 26px;
  width: 64px;
  height: 64px;
  background: url('../img/icon_img.png') no-repeat;
  transition: .2s;
}

.product ul {
  padding: 46px 0 41px;
  text-align: center;
}

.product li {
  display: inline-block;
  padding: 0 55px;
  text-align: center;
}

.product li:nth-child(1) a:before {
  background-position: -70px -72px;
}

.product li:nth-child(1) a:hover:before {
  background-position: -183px -72px;
}

.product li:nth-child(2) a:before {
  background-position: -70px -163px;
}

.product li:nth-child(2) a:hover:before {
  background-position: -183px -163px;
}

.product li:nth-child(3) a:before {
  background-position: -70px -255px;
}

.product li:nth-child(3) a:hover:before {
  background-position: -183px -255px;
}

.product li:nth-child(4) a:before {
  background-position: -70px -350px;
}

.product li:nth-child(4) a:hover:before {
  background-position: -183px -350px;
}

.product li:nth-child(5) a:before {
  background-position: -70px -442px;
}

.product li:nth-child(5) a:hover:before {
  background-position: -183px -442px;
}

.product li:nth-child(6) a:before {
  background-position: -70px -531px;
}

.product li:nth-child(6) a:hover:before {
  background-position: -183px -531px;
}

/* slide magazine ---------------- */
.magazine {
  overflow: hidden;
  height: 670px;
  background-color: #eeeeee;
  position: relative;
}

.magazine h2 {
  padding: 50px 0 16px;
  font-size: 28px;
  color: #333;
  text-align: center;
}

.magazine p {
  text-align: center;
  font-size: 14px;
  color: rgb(48, 48, 48);
  line-height: 100%;
}

.magazine .slide_box>div {
  position: absolute;
  left: 50%;
  top: 150px;
  transform: translate(-50%, 0);
  width: 1180px;
  height: 430px;
}

.magazine .slide_box>div:nth-child(2) {
  margin-left: 1280px;
}

.magazine .slide_box .left {
  overflow: hidden;
  position: relative;
  float: left;
  width: 800px;
  height: inherit;
}

.magazine .slide_box .left img {
  width: 100%;
}

.magazine .slide_box .left div {
  position: absolute;
  right: 0;
  top: 0;
  padding: 47px 20px 0;
  width: 200px;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

.magazine .slide_box .left div h3 {
  color: #fff;
  font-size: 20px;
  line-height: 32px;
}

.magazine .slide_box .left div h3 span {
  display: block;
  font-weight: normal;
}

.magazine .slide_box .left div p {
  padding: 9px 0 0;
  font-size: 16px;
  color: #fff;
  text-align: left;
  line-height: 24px;
}

.magazine .slide_box .left div a {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  display: block;
  width: 160px;
  height: 35px;
  border: 1px solid #fff;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 35px;
}

.magazine .slide_box .right {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0;
  height: 430px;
  background: #fff;
  box-sizing: border-box;
}

.magazine .slide_box .right li {
  padding: 0 0 20px;
}

.magazine .slide_box .right li a {
  display: table;
  width: 100%;
}

.magazine .slide_box .right li a div {
  display: flex;
  flex-direction: column;
  height: 82px;
  font-size: 16px;
  color: #333;
  position: relative;
  text-align: right;
}

.magazine .slide_box .right li a img {
  position: absolute;
  left: 0;
  top: 0;
}

.magazine .slide_box .right li a strong {
  display: block;
  height: 20px;
  font-size: 13px;
  color: #000;
}

.magazine .slide_box .right li a div p {
  text-align: right;
}

.magazine.slide {
  position: relative;
}

.magazine.slide .control {
  position: absolute;
  bottom: 48px;
}

.magazine.slide .prev {
  position: absolute;
  top: 50%;
  margin-left: -70px;
}

.magazine.slide .next {
  position: absolute;
  top: 50%;
  right: 100px;
}

/* slide  ---------------- */
.slide .prev,
.slide .next {
  display: block;
  position: absolute;
  top: 50%;
  z-index: 10;
  width: 25px;
  height: 47px;
  transform: translateY(-50%);
  background: url(../img/icon_img.png) no-repeat;
  color: transparent;
}

.slide .prev {
  background-position: -316px -76px;
}

.slide .next {
  background-position: -354px -76px;
}

.slide .control {
  position: absolute;
  left: 0;
  bottom: 55px;
  width: 100%;
  text-align: center;
}

.slide .control>div {
  display: inline-block;
  position: relative;
  padding: 0 45px 0 0;
}

.slide .control>div>div {
  position: absolute;
  right: 0;
}

.slide .control>div>div a {
  overflow: hidden;
  display: inline-block;
  margin: 0 0 0 7px;
  width: 8px;
  height: 10px;
  background: url(../img/icon_img.png) no-repeat;
  opacity: .5;
  color: transparent;
}

.slide .control>div>div a.on {
  opacity: 1;
}

.slide .control>div>div a.play {
  background-position: -319px -123px;
}

.slide .control>div>div a.pause {
  background-position: -330px -123px;
}

.slide .control ul {
  display: inline-block;
  position: relative;
  top: -7px;
  font-size: 0;
}

.slide .control li {
  display: inline-block;
  padding: 0 3px;
}

.slide .control li.on a {
  background: #fff;
}

.slide .control li a {
  display: block;
  width: 50px;
  height: 3px;
  background: rgba(160, 160, 160, 0.5);
  border: none;
}


/* notice---------------- */

.notice {
  padding: 0 0 100px;
}

.notice>div {
  width: 1180px;
  margin: 0 auto;
  padding: 55px 0;
}

.notice .top {
  display: flex;
}

.notice .top ul {
  display: inline-flex;
}

.notice .top ul li {
  width: 280px;
  height: 280px;
  margin: 0 10px;
}

.notice .top ul li a {
  width: inherit;
  height: inherit;
  display: block;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  transition: all .5s;
  padding: 100px 0 0;
  box-sizing: border-box;
  color: #fff;
}

.notice .top ul a span {
  display: block;
  position: relative;
  top: 10px;
  opacity: 0;
  padding: 20px 0 0;
  font-weight: normal;
  font-size: 14px;
  transition: all .5s;
}

.notice .top ul a:hover {
  background: #ffb3006e;
}

.notice .top ul a:hover span {
  top: 0;
  opacity: 1;
}

.notice .top ul li:nth-child(1) {
  margin: 0 5px 0 0;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(63, 63, 63, 0.5)), url("../img/social1.jpg");
}

.notice .top ul li:nth-child(2) {
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(63, 63, 63, 0.5)), url("../img/social2.jpg");
}

.notice .top ul li:nth-child(3) {
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(63, 63, 63, 0.5)), url("../img/social3.jpg");
}

.notice .top>div {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 280px;
  margin: 0 0 0 10px;
  padding: 36px 20px 0;
  box-sizing: border-box;
  background: #f2f0ed;
}

.notice .top>div h2 {
  padding: 10px 0;
  font-size: 17px;
  color: #000;
  text-align: center;
}

.notice .top>div div {
  margin: 0 0 10px;
}

.notice .top>div select,
.notice .top>div input {
  width: 100%;
  height: 45px;
  border: none;
  text-indent: 20px;
}

.notice .top>div input::-webkit-input-placeholder {
  color: #949394;
  font-size: 14px;
}

.notice .top>div a {
  display: block;
  margin: 20px 0 0;
  height: 45px;
  line-height: 45px;
  color: #fff;
  font-size: 15px;
  text-align: center;
  background: #000;
}

.notice article {
  padding: 20px 0 0;
  display: flex;
  justify-content: space-between;
}

.notice article>div {
  flex: 1;
  background: #f2f0ed;
  position: relative;
}

.notice article>div a {
  font-size: 16px;
  color: #424241;
}

.notice article>div a p {
  font-size: 12px;
  color: #979797;
}

.notice article>div h2 {
  height: 77px;
  border-bottom: 1px solid #fff;
  line-height: 77px;
  font-size: 24px;
  color: #2d0b79;
  text-align: center;
}

.notice article>div>a {
  color: transparent;
  position: absolute;
  right: 23px;
  top: 24px;
  width: 30px;
  height: 30px;
  background: url(../img/icon_img.png) no-repeat -319px -140px #fff;
  border-radius: 30px;
}

.notice article .left {
  margin: 0 12px 0 0;
}

.notice article .left ul {
  display: flex;
  flex-direction: row;
}

.notice article .left ul li {
  padding: 35px;
  flex: 1;
  box-sizing: border-box;
}

.notice article .left ul li:nth-child(1) {
  border-right: 1px solid #fff;
  box-sizing: border-box;
}

.notice article>div.left ul li p {
  padding: 22px 0 16px;
}

.notice article .left ul li strong {
  font-weight: normal;
}

.notice article .right {
  margin: 0 0 0 12px;
}

.notice article .right ul li {
  border-bottom: 1px solid #fff;
  display: flex;
  position: relative;
}

.notice article .right ul li p {
  position: absolute;
  right: 20px;
  top: 0;
}

.notice article .right ul li:last-child {
  border-bottom: none;
}

.notice article .right ul li a {
  overflow: hidden;
  width: 400px;
  line-height: 60px;
  text-indent: 30px;
  white-space: nowrap;
  text-overflow: ellipsis;
}



/* banner ---------------- */
.banner {
  padding: 55px 0;
}

.banner ul {
  display: flex;
  width: 1180px;
  margin: 0 auto;
}

.banner ul li {
  flex: 1;
  padding: 0 0 0 20px;
}

.banner ul li:first-child {
  padding: 0;
}

.banner ul li a {
  display: block;
  padding: 303px 0 0;
  height: 390px;
  font-size: 14px;
  color: #3e413d;
  text-align: center;
  box-sizing: border-box;
}

.banner ul li a strong {
  display: block;
  font-size: 23px;
  color: #000;
}

.banner ul li:nth-child(1) a {
  background: linear-gradient(to top, rgb(255, 255, 255), rgba(255, 255, 255, 0), rgba(46, 46, 46, 0)),
    url(../img/banner1.jpg) no-repeat center top;
  background-size: cover;
}

.banner ul li:nth-child(2) a {
  background: linear-gradient(to top, rgb(255, 255, 255), rgba(255, 255, 255, 0), rgba(46, 46, 46, 0)),
    url(../img/banner2.jpg) no-repeat center top;
  background-size: cover;
}

.banner ul li:nth-child(3) a {
  background: linear-gradient(to top, rgb(255, 255, 255), rgba(255, 255, 255, 0), rgba(46, 46, 46, 0)),
    url(../img/banner3.jpg) no-repeat center top;
  background-size: cover;
}

.banner ul li:nth-child(4) a {
  background: linear-gradient(to top, rgb(255, 255, 255), rgba(255, 255, 255, 0), rgba(46, 46, 46, 0)),
    url(../img/banner4.jpg) no-repeat center top;
  background-size: cover;
}

/* footer  */
footer {
  background: #383f43;
  width: 100%;
  position: relative;
}

footer .top>div {
  margin: 0 auto;
  padding: 13px 0;
}

footer .top ul {
  float: left;
}

footer .top ul li {
  float: left;
  padding: 0 19px 0 0;
  position: relative;
}

footer .top ul li:after {
  content: '';
  position: absolute;
  right: 9px;
  top: 50%;
  margin-top: -4px;
  width: 1px;
  height: 8px;
  background: #70767a;
}

footer .top ul li a {
  color: #fff;
  font-size: 13px;
  line-height: 45px;
}

footer .top ul li:last-child:after {
  display: none;
}

footer .top>div>div {
  float: right;
}

footer .top>div>div p {
  display: inline-block;
  width: 242px;
  height: 45px;
  color: #fff;
  text-align: center;
  line-height: 45px;
  font-size: 13px;
}

footer .top>div>div p strong {
  padding: 0 0 0 15px;
  font-size: 20px;
}

footer .top>div>div select {
  padding: 0 0 0 21px;
  width: 200px;
  height: 44px;
  color: #191919;
  font-size: 12px;
  box-sizing: border-box;
  border: none;
}

footer .btm {
  padding: 40px 0 44px;
  background: #4c5459;
  position: absolute;
  left: 0;
  width: 100%;
}

footer .btm p {
  display: inline-block;
  width: 105px;
  height: 39px;
  background: url(../img/icon_img.png) no-repeat -319px -185px;
  color: transparent;
}

footer .btm ul {
  padding: 32px 0 14px;
}

footer .btm ul li {
  display: inline-block;
  position: relative;
  padding: 0 10px;
  color: #fff;
  font-size: 14px;
}

footer .btm ul li:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -4px;
  width: 1px;
  height: 8px;
  background: #70767a;
}

footer .btm ul li:last-child:after {
  display: none;
}

footer .btm address {
  font-size: 14px;
  color: #fff;
}

/* Responsive  */
@media only screen and (max-width: 360px) {
  /* header  */

  header {
    border: 2px solid red;
    position: relative;
    height: 130px;
    width: 100%;
  }

  header .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
  }

  header .inner {
    height: 100%;
  }

  header .spot {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;

  }

  header .lnb {
    display: none;
  }

  .product {
    display: flex;
    /* width: 100px; */
    justify-content: space-between;
  }

  .product li {
    justify-content: space-between;
    border: 1px solid #e2e2e2;
    text-align: center;
    padding: 0;
    width: 150px;
  }

  .product a:before {
    margin: 20px auto;
  }

  .visual .con .slide .txt {
    width: 250px;
    font-size: 22px;
  }

  .visual .con .slide .txt p {
    font-size: 16px;
  }


  /* slide magazine  */

  .magazine {
    height: 1000px;
  }

  .magazine h2 {
    font-size: 22px;
  }

  .magazine .slide_box {
    height: auto;
  }

  .slide_box .inner div {
    display: flex;
    flex-direction: column;
    height: 300px;
  }

  .magazine .slide_box .left {
    float: none;
    overflow: visible;
  }

  .magazine .slide_box .left div {
    width: 100%;
    height: 200px;
    top: 100%;
    position: static;
  }


}